body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700 px;
    margin: auto;
    padding: 25px;
}

input, textArea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 8px;
}

textarea{
    height: 170px;
}

button {
    margin-top: 14px;
    padding: 10px 15px;
    cursor: pointer;
}

#timer{
    font-weight: bold;
    margin-top: 50px;
}

.reference-text {
  font-size: 20px;
  line-height: 1.8;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 6px;
  user-select: none;
  margin-bottom: 12px;
  max-height: 180px;
  overflow: hidden;
}

.char {
  color: #999;
}

.char.correct {
  color: #2ecc71;
}

.char.incorrect {
  color: #e74c3c;
  text-decoration: underline;
}
